<h1>Latest Frits</h1>
<!--
Heavily modeled after:
Source: Obtained from: http://tympanus.net/codrops/2012/11/19/responsive-css-timeline-with-3d-effect/
Date: May 23, 2014
Name of Author: Mary Lou
-->
<ul class = "frits_list">
	<% (@latest_frits).reverse_each do |frit| %>
	<li class = "frit">
        <label>
        <input type="radio" name="tl-group"/>
        <div id="top"></div>
		<div class="date">
			<span class = "monospace">
				Posted on <%= frit.posted_on %>
			</span>
		</div>
        <div class="content-perspective">
            <div class="content">
                <div class="content-inner">
                    <h3>A <%= frit.limit %> story about <%= frit.prompt %></h3>
                    <p><%= frit.content %></p>
                    <span class="monospace">by <%=link_to(frit.user.email.split('@').first, user_path((frit.user).id)) %></span>
                </div>
            </div>
        </div>
        </label>
    </li>
	<% end %>
    <div id="end"><%= link_to("VIEW ALL FRITS", show_path) %></div>
</ul>

